.overall-container {
  overflow: scroll;
  width: 100vw;
  grid-template-rows: 1fr 8fr;
  grid-template-columns: 1fr;
  /* justify-content: center; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

.nav-bar {
grid-row: 1;
}

.results-container {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 5em; */
  border: 1px solid red;
}

.results-container img {
  justify-self: center;
  height: 250px;
  width: 250px;
  border-radius: 10%;
  padding: 20px;
}


