.overall-container {
  overflow: scroll;
  width: 100vw;
  grid-template-rows: 1fr 8fr;
  grid-template-columns: 1fr;
  /* justify-content: center; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

.nav-bar {
grid-row: 1;
justify-self: center;
}

.results-images {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
  /* grid-template-rows: 5em; */
  /* border: 1px solid red; */
}

.results-images img {
  justify-self: center;
  height: 250px;
  width: 250px;
  border-radius: 10%;
  padding: 20px;
}

.results-images p {
  justify-self: center;
  align-self: center;
  border-radius: 10%;
  text-align: center;
}
.results-text p {
  justify-self: center;
  align-self: center;
  border-radius: 10%;
  text-align: center;
}

.bike-text {
  grid-column: 3;
}
